<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devopsroadmap2022_app">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DevOpsRoadMap2022_app"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".OtherActivity"
            android:exported="true" />
        <activity
            android:name=".Service_MeshActivity"
            android:exported="true" />
        <activity
            android:name=".PolicyActivity"
            android:exported="true" />
        <activity
            android:name=".ChaosEngineeringActivity"
            android:exported="true" />
        <activity
            android:name=".ObservabilityActivity"
            android:exported="true" />
        <activity
            android:name=".IAC_Activity"
            android:exported="true" />
        <activity
            android:name=".CI_CD_Activity"
            android:exported="true" />
        <activity
            android:name=".KubernetesActivity"
            android:exported="true" />
        <activity
            android:name=".ContainersActivity"
            android:exported="true" />
        <activity
            android:name=".CloudActivity"
            android:exported="true" />
        <activity
            android:name=".GItActivity"
            android:exported="true" />
        <activity
            android:name=".Prerequisites_YAML"
            android:exported="true" />
        <activity
            android:name=".Prerequisites_BasicNetworkingActivity"
            android:exported="true" />
        <activity
            android:name=".Prerequisites_LinuxActivity"
            android:exported="true" />
        <activity
            android:name=".Pre_requisitesActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>